<style type="text/css">
  .audioButton {
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
  }
</style>

<body>
  <%= audio_tag('高久うんこ.m4a', id: 'audio') %>
  <%= image_tag('うんこ君.gif', class: 'audioButton') %>
  <%= javascript_tag do %>
      document.querySelector('.audioButton').onclick = function () {
        var random = Math.floor(Math.random() * 6);
        switch(random) {
          case 0:
              document.querySelector('#audio').src = '/assets/綿引うんこ.m4a';
              break;
          case 1:
              document.querySelector('#audio').src = '/assets/森泉うんこ.m4a';
              break;
          case 2:
              document.querySelector('#audio').src = '/assets/押田うんこ.m4a';
              break;
          case 3:
            document.querySelector('#audio').src = '/assets/根岸うんこ.m4a';
            break;
          case 4:
            document.querySelector('#audio').src = '/assets/高久うんこ.m4a';
            break;
          case 5:
            document.querySelector('#audio').src = '/assets/三宅うんこ.m4a';
            break;
        };
        document.querySelector('#audio').play();
      };
  <% end %>
</body>
