<style type="text/css">
  .audioButton {
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    cursor:pointer;
  }
</style>

<body>
  <%= audio_tag('高久うんこ.m4a', id: 'audio') %>

  <%= button_tag type: 'button', id: 'play' do %>
    <%= image_tag('うんこ君.gif', class: 'audioButton') %>
  <% end %>

  <%= javascript_tag do %>
    var playbutton = document.getElementById('play');
    playbutton.addEventListener('click', function() {
      audio.play();
    });


  <% end %>
</body>
